$main-bg: #fff;
$main-color: #00925e;
$color: rgba(38, 38, 38, 0.9);
$hover-color: rgba(97, 94, 100, 0.1);
$success-color: #26aa34;

$box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
$box-shadow-second: 0 1px 5px 0 rgba(0,0,0,0.5);

$border: 1px solid rgba(20, 20, 20, 0.1);
$second-border: 1px solid rgba(20, 20, 20, 0.2);

$txt-main-color: #4a4a4a;
$txt-second-color: #909090;
$bg-hover-color: #faebd7;
$bg-active-color: #fff7ed;

$mobile-width: 767px;
$tablet-width: 991px;
